*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
/* body {
 
  background: url('/background.jpg') no-repeat center center fixed;
  background-size: cover;

  min-height: 100vh;
} */
body {
  font-family: 'Poppins', sans-serif;
  background: url('/background.jpg') no-repeat center center/cover;
  position: relative;
  min-height: 100vh;
  color: var(--text-color);
}

/* Fixed Overlay - Overlay behind the content  */
body::before {
  content: '';
  position: fixed;
  inset: 0;
  background-color: rgba(229, 217, 204, 0.4); 
  backdrop-filter: blur(1px);
  z-index: 0;
}